<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
		      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>


	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

	<logger name="com.ontometrics">
		<level value="DEBUG"/>
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
